.teal-button {
  background-color: teal;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.teal-button:hover {
  background-color: orange;
}
