/* .navbar-visible {
    transform: translateY(0);
    opacity: 1;
  }
  
  .navbar-hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
  
  .navbar-brand {
    cursor: pointer;
  }
   */