.top-head{
    /* background-color: rgb(246, 243, 243); */
    height: 80px;
    margin-top: -40px;
margin-left: 600px;
    
}
.heading{
    color: teal;
    font-size:20px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 800px;
}
.hr{
    color: white;
}

.small-container{
    height: 500px;
    padding-top: 40px;
}


/* .orange-hover:hover {
    background-color: orange;
  }

  .teal-button {
    background-color: teal;
    color: white;
    width: 20%;
    font-size: 16px;
    margin-left: 250px;
    /* transition: background-color 0.3s; */
  /* }
  
  .teal-button:hover {
    background-color: orange;
  }
    */

  .button-hover:hover {
    background-color: orange !important;
  }
  